*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loginPage{
    background-color: aliceblue;
    min-height: 100vh;
    padding-top: 5vh;
}

.loginFormContainer{
    min-width:35%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255,255,255,0.2);
    border: 2px solid black;
    border-radius: 25px;
    padding: 1rem 2rem;
}

.loginTitle{
    font-family:sans-serif;
    font-size: 2rem;
}

.formFieldset{
    width: 100%;
    margin: 3vh auto 2vh;
    border: 2px solid black;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 30vh;
    border-left: none;
    border-right: none;
    border-left: none;
}

.formLegend{
    font-family:sans-serif;
    font-size: 1.5rem;
}

.inputGroup{
    margin: 1rem auto 0;
    width: 90%
}

.dataInput{
    border: 1px solid black;
}

.submitInput{
    width: 90%;
    margin: 0.5rem auto;
    background-color: #ffffff;
    color: #080710;
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.loginText{
    font-family: sans-serif;
    color: black;
}

.githubContainer{
    width:fit-content;
    background-color: white;
    margin: 2rem auto 0 ;
}

.githubLink{
    text-decoration: none;
}

.githubButton{
    display: flex;
    align-items: center;
    background: white;
    color: #444;
    min-width: 190px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    padding: 1rem;
}

.githubButton:hover{
    cursor: pointer;
}

.githubButtonText{
    margin-left: 0.5rem;
    line-height: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}