<div>
    <div>
        <h1>Ingrese su email</h1>
        <span>Ingrese su email para recibir un email con un link para reestablecer su contraseña</span>
        <form id='restorePassword'>
            <input required class='form-control dataInput' type='email' name='email' placeholder='Email' id='email' />
            {{! <label for='email'>Email</label> }}
            <input class='submitInput' type='submit' value='Enviar email' />
        </form>
    </div>
    <div>
        <span>¿Ya tenes tu contraseña? <a href='/login'>Inicia sesion aqui</a></span>
    </div>
</div>

<script src='/js/forgotPassword.js'></script>