<div>
    <h1>Ingreso</h1>
    <form id='loginForm'>
        <label>Email</label>
        <input name='email' />
        <br />
        <label>Password</label>
        <input type='password' name='password' />
        <input type='submit' />
    </form>
    <p> ¿No estas registrado? <a href=' /register'>¡Registrate aqui!</a></p>
    <a href='/api/sessions/github'><button>Autenticar con GitHub</button></a>
</div>

<script src='/js/login.js'></script>