<div>
    <h1>Perfil</h1>
    <div id="userData">
        <li>Nombre: {{user.name}}</li>
        <li>Email: {{user.email}}</li>
        <li>Edad: {{user.age}}</li>
        <li>Rol: {{user.role}}</li>
    </div>
    <div id="redirect">
        <a href="/products">Ver catalogo</a>
    </div>
</div>