<div>
    <h1>Perfil</h1>
    <div id='userData'>
        <li>Nombre: {{user.name}}</li>
        <li>Email: {{user.email}}</li>
        <li>Edad: {{user.age}}</li>
        <li>Rol: {{user.role}}</li>
    </div>
    <div id='redirect'>
        <a href='/api/sessions/logout'><button>Cerrar sesión</button></a>
        <a href='/products'><button>Ver catalogo</button></a>
    </div>
</div>