<div>
    <h1>Lista de productos</h1>
    <div id='realTimeProducts'>
        {{#each products}}
            <div>
                <span>Nombre: {{this.title}}</span><br />
                <span>Descripcion: {{this.description}}</span><br />
                <span>ID: {{this._id}}</span>
                <hr />
            </div>
        {{/each}}
    </div>

    <h2>Agregar un nuevo producto</h2>
    <form onsubmit='return addProduct(this)'>
        <input required type='text' id='title' placeholder='Nombre' />
        <input required type='text' id='description' placeholder='Descripcion' />
        <input required type='number' id='price' placeholder='Precio' />
        <input required type='text' id='code' placeholder='Codigo' />
        <input type='text' id='thumbnail' placeholder='Imagen' />
        <input required type='number' id='stock' placeholder='Stock' />
        <input required type='text' id='category' placeholder='Categoria' />
        <input type='submit' value='Enviar!' />
    </form>

    <h2>Eliminar un producto segun su ID</h2>
    <form onsubmit='return deleteProduct(this)'>
        <input type='text' id='id2' placeholder='ID' />
        <input type='submit' value='Enviar!' />
    </form>
</div>
<script src='/socket.io/socket.io.js'></script>
<script src='/js/realTimeProducts.js'></script>