<div>
    <div>
        <h1>Reset Password</h1>
    </div>
    {{#if isExpired}}
        <div>
            <span>Su codigo ha caducado.
                <a href='/forgotPassword'>Vuelva a solicitar su codigo.</a>
                Recuerde que tienen validez solo durante una hora</span>
        </div>
    {{/if}}
    {{#if isntExpired}}
        <div>
            <span>No expiro</span><br />
            <span>Ingrese su nueva contraseña. Esta no puede ser igual a su contraseña anterior</span>
            <form id='resetPassword'>
                <input
                    disabled
                    class='form-control dataInput'
                    type='email'
                    name='email'
                    placeholder='email'
                    id='email'
                    value={{user.email}}
                />
                <input type='hidden' name='email' value='{{user.email}}' />
                <input
                    required
                    class='form-control dataInput'
                    type='password'
                    name='password'
                    placeholder='Password'
                    id='password'
                />
                {{! <label for='email'>Email</label> }}
                <span id='validatePassword'></span><br />
                <input class='submitInput' type='submit' value='Actualizar contraseña' />
            </form>
        </div>
    {{/if}}
</div>

<script src='/js/resetPassword.js'></script>